/* @theme togo_template */

@import 'gaia';

section {
    background-color: #f9fcff;
}
section.content h1 {
  padding: 0.1em 0.5em;
  border-left: 10px solid #7db4e6 ;

}
section.lead h1{
  border-bottom: 5px solid #7db4e6;
  padding: 0.5em 0em
}
